
<div class="edit-dialog">
    <h2 mat-dialog-title>Edit Task</h2>
    <mat-dialog-content>
        
        <div fxLayout = "column">
            <form #editTaskForm>
            <label>Modified Name : </label>
            <input type="text" class="form-control" id="editedtask" aria-describedby="editedtask" 
            name="editedTaskName" [(ngModel)]="taskToEdit.title" value="taskToEdit.title" required>
            </form>
        </div>
    
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button class="mat-raised-button"(click)="close()">Cancel</button>
        <button class="mat-raised-button mat-primary"(click)="onEditTask()">Add to Cart</button>
    </mat-dialog-actions>
    </div>