/* .edit-dialog{
    margin-left: 200%;
    margin-top: -111%;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    padding: 38px;
    z-index: 2;
}

.mat-dialog-container{
    transform: none;
    margin-top: -110%  !important;
    margin-left: 207%  !important;
    background: lightgray !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 2;
} */